{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "project": [
      "./packages/**/tsconfig.json",
      "./tsconfig.json",
      "./helpers/**/tsconfig.json"
    ]
  },
  "extends": [
    "eslint:all",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "plugins": ["@typescript-eslint", "import"],
  "rules": {
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "comma",
          "requireLast": false
        },
        "singleline": {
          "delimiter": "comma",
          "requireLast": false
        }
      }
    ],
    "array-bracket-spacing": ["error", "always"],
    "quotes": ["error", "single"],
    "object-curly-newline": ["error", { "consistent": true }]
  }
}